<p-drawer styleClass="_sidebar" [(visible)]="sidenavService.isSidenavVisible" [modal]="isMobileDevice"
           [closable]="isMobileDevice" position="left" [closeOnEscape]="isMobileDevice"
           [dismissible]="isMobileDevice">
    <ng-template #headless>
        <div class="dm:grid">
            <div class="dm:col-12">
                <app-sidenav-menu-item *ngFor="let menuItem of menuItems" [item]="menuItem"></app-sidenav-menu-item>
            </div>
        </div>
    </ng-template>
</p-drawer>
