.code-example-container {
    margin: 1.4rem 0;
    border: 1px solid var(--p-content-border-color);
    border-radius: var(--p-border-radius-md);

    .header {
        color: var(--p-primary-color);
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .code-result {
        padding: .4rem 1rem 1rem 1rem;
    }

    .code-source {
        font-family: monospace;
        padding: 0 1rem;
    }
}
