<div class="code-example-container">
    <div class="header">
        <span class="title">{{ title }}</span>
        <span>
            <p-button *ngIf="showSource" styleClass="no-focus-outline" [pTooltip]="getCopyBtnTooltip()" icon="pi pi-copy" size="small" [text]="true" (click)="copyCode()"></p-button>
            <p-button *ngIf="code.html || code.ts || code.styles" styleClass="no-focus-outline" (click)="showSource = !showSource" icon="pi pi-code" size="small" [text]="true"></p-button>
        </span>
    </div>
    <ng-container [ngTemplateOutlet]="showSource ? source : result"></ng-container>
</div>
<ng-template #result>
    <div class="code-result">
        <ng-content></ng-content>
    </div>
</ng-template>
<ng-template #source>
    <div class="code-source">
        <p-tabView (activeIndexChange)="currentOpenTab = $event">
            <p-tabPanel *ngIf="code.html" header="HTML">
                <pre><code [highlight]="code.html" [languages]="['xml']"></code></pre>
            </p-tabPanel>

            <p-tabPanel *ngIf="code.ts" header="TS">
                <pre><code [highlight]="code.ts" [languages]="['typescript']"></code></pre>
            </p-tabPanel>

            <p-tabPanel *ngIf="code.styles" header="STYLES">
                <pre><code [highlight]="code.styles" [languages]="['scss', 'css']"></code></pre>
            </p-tabPanel>
        </p-tabView>
    </div>
</ng-template>
