.entry-group {
    margin-bottom: 4rem;
    .title {
        color: var(--p-primary-color);
    }

    .entry {
        padding-left: 1.4rem;
        border-left: 1px solid var(--p-primary-color);
        margin-bottom: 2.5rem;
    }
}
