<div class="_container" [ngClass]="{'mobile': isMobileDevice}">
    <header class="_header">
        <div class="_header-inner dm:flex dm:flex-nowrap dm:align-items-center dm:justify-content-between">
            <div>
                <strong>ng-prime-extensions</strong>
            </div>
            <div>
                <p-button styleClass="headerButton" [icon]="'pi ' + (appService.isDarkModeActive() ? 'pi-sun' : 'pi-moon')" [text]="true" size="small" (click)="toggleDarkMode()"></p-button>
            </div>
        </div>
    </header>

    <app-sidenav></app-sidenav>

    <div class="_content">
        <router-outlet></router-outlet>
    </div>
</div>
