.item {
    display: flex;
    align-items: center;
    padding: var(--app-sidenav-menu-item-padding);
    margin: 0 0 10px 0;
    border-radius: var(--p-border-radius-md);
    user-select: none;
    cursor: pointer;

    .item-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2em;

        > .icon {
            padding-right: 7px;
        }
    }

    &.active, &:hover {
        background-color: var(--p-primary-color);

        .item-info {
            .title, .icon {
                color: var(--p-primary-contrast-color);
            }
        }
    }
}
