@import "@ng-dominus/dm-styles/dm-styles.min.css";
@import "primeicons/primeicons.css";

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 500 14px/1.45em "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --app-header-height: 50px;
    --app-sidenav-menu-width: 20rem;
    --app-sidenav-menu-item-padding: 10px;
    --dm-quote-padding: var(--p-card-body-padding);
    --dm-quote-border-radius: var(--p-border-radius-md);
    --dm-quote-color: var(--p-primary-color);
    --dm-quote-border: 1px solid var(--p-primary-color);
}

.primary-color {
    color: var(--p-primary-color);
}

.primary-color-text {
    color: var(--p-primary-contrast-color);
}

.no-focus-outline:focus {
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
}

